In [1]:
# 1_data_ingestion.ipynb

import pandas as pd

# Load your sales dataset (replace with your actual path)
file_path = "supply_chain_dataset.csv"
df = pd.read_csv(file_path)

# Preview the data
df.head()

,date,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,2022-01-01,Furniture,SKU_001,408.44,In Stock,12,4901.28,Senior,121,4,...,South,6,819,12,253.08,Fail,0.0001,Air,Route 1,373.82
1,2022-01-01,Clothing,SKU_002,53.18,In Stock,8,425.44,Adult,187,4,...,East,6,890,11,23.71,Pass,0.0966,Road,Route 2,374.15
2,2022-01-01,Electronics,SKU_003,153.90,Out of Stock,9,1385.10,Youth,7,4,...,South,7,615,14,178.96,Pass,0.0970,Road,Route 2,455.64
3,2022-01-01,Clothing,SKU_004,377.27,In Stock,5,1886.35,Youth,189,9,...,North,13,237,16,97.28,Pass,0.0802,Air,Route 1,988.20
4,2022-01-01,Electronics,SKU_005,139.42,Out of Stock,14,1951.88,Youth,47,8,...,East,4,788,9,292.08,Pass,0.0761,Road,Route 3,793.87